[defaults]
host_key_checking = False
inventory = inventory.ini
roles_path = roles
retry_files_enabled = False
forks = 1
timeout = 30
interpreter_python = auto_silent
stdout_callback = default
result_format = yaml
bin_ansible_callbacks = True

[ssh_connection]
pipelining = False
control_path_dir = /tmp/capstone-phoenix-ansible-cp
ssh_args = -C -o ControlMaster=auto -o ControlPersist=15m -o ServerAliveInterval=30 -o ServerAliveCountMax=4
