bucket         = "REPLACE_WITH_BOOTSTRAP_OUTPUT_STATE_BUCKET"
key            = "capstone-phoenix/terraform.tfstate"
region         = "eu-west-1"
dynamodb_table = "capstone-phoenix-tflock"
encrypt        = true
